<label>Select an option:</label>
<br>
<div> 
<mat-form-field>
  <mat-label>Restaurant Type:</mat-label>
  <mat-select [(value)]="selectedRestaurantType">
    <mat-option value ="none">Select Restaurant Type</mat-option>
    <mat-option value="Bar">Bar</mat-option>
    <mat-option value="Fast Food">Fast Food</mat-option>
    <mat-option value="Sit Down">Sit-Down</mat-option>
  </mat-select>
</mat-form-field>
<p>you selected {{selectedRestaurantType}}</p>
</div>

<div>
  <mat-form-field>
    <mat-label>Food Type:</mat-label>
    <mat-select [(value)]="selectedFoodType">
      <mat-option value ="none">Select Food Type</mat-option>
      <mat-option value="Italian">Italian</mat-option>
      <mat-option value="Mexican">Mexican</mat-option>
      <mat-option value="American">American</mat-option>
    </mat-select>
  </mat-form-field>
  <p>you selected {{selectedFoodType}}</p>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Price Range:</mat-label>
      <mat-select [(value)]="selectedPriceRange">
        <mat-option value ="none">Select Price Range</mat-option>
        <mat-option value="Cheap">Cheap</mat-option>
        <mat-option value="Midrange">Mid-Range</mat-option>
        <mat-option value="Expensive">Expensive</mat-option>
      </mat-select>
    </mat-form-field>
    <p>you selected {{selectedPriceRange}}</p>
    </div>
<br>
<button class="btn btn-dark" (click)="searchRestaurants()">Search</button>




