<label>Select an option:</label>
<br>
<div> 
<mat-form-field>
  <mat-label>Restaurant Type:</mat-label>
  <mat-select [(value)]="selectedRestaurantType">
    <mat-option value ="none">Select Restaurant Type</mat-option>
    <mat-option value="bar">Bar</mat-option>
    <mat-option value="fastfood">Fast Food</mat-option>
    <mat-option value="sitdown">Sit-Down</mat-option>
  </mat-select>
</mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Food Type:</mat-label>
    <mat-select [(value)]="selectedFoodType">
      <mat-option value ="none">Select Food Type</mat-option>
      <mat-option value="italian">Italian</mat-option>
      <mat-option value="mexican">Mexican</mat-option>
      <mat-option value="american">American</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Price Range:</mat-label>
      <mat-select [(value)]="selectedPriceRange">
        <mat-option value ="none">Select Price Range</mat-option>
        <mat-option value="cheap">Cheap</mat-option>
        <mat-option value="midrange">Mid-Range</mat-option>
        <mat-option value="expensive">Expensive</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
<br>

<button onclick="showList()" id="listButton">Enter</button>

<div>
<ul id="list">
  <li>selectedRestaurantType</li>
  <li>selectedFoodType</li>
  <li>selectedPriceRange</li>
</ul>
</div>

<script>
function showList()
{
  var myList = document.getElementById('list');
  var listDisplay = myList.style.display;
  var listButton = document.getElementById('listButton')

  if(listDisplay == 'block')
  {
    myList.style.display = 'none';
    listButton.innerHTML = 'Show list';
  }
  else{
    myList.style.display = 'block';
    listButton.innerHTML = 'Hide list';
  }
}
</script>

