mat-option {
    background-color: red;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    height: 50px;
}
mat-select {
    border-style: solid;
    border-width: 1px;
}
label {
    font-weight: 700;
}
